.wrap {
  background-color: var(--color-disabled);
  position: relative;
  height: var(--player-seekbar-height);
}
.track {
  transition: 0.75s linear;
  background-color: var(--color-primary);
  height: 100%;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}