@import 'variables.scss';

html {
  > canvas {
    display: none;
  }
}
a {
  text-decoration: none;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
  &:before,
  &::after {
    box-sizing: border-box;
  }
}
.ta-center {
  text-align: center;
}
@each $value in $base-list {
  .mb-#{$value} {
    margin-bottom: var(--base-#{$value});
  }
}