.wrap {
  text-align: left;
}
.cardFormat-row {
  composes: wrap;
  display: flex;
  .imageWrap {
    margin-right: 10px;
  }
}
.cardFormat-column {
  composes: wrap;
  .imageWrap {
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
  }
  .info {
    text-align: center;
  }
}
.cardFormat-poster {
  .info {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }
}
.imageWrap {
  flex-shrink: 0;
}