.wrap {
  padding-top: var(--player-header-height);
  padding-bottom: var(--player-bottom-navbar-height);
}
.wrapWithWidget {
  padding-bottom: calc(var(--player-bottom-navbar-height) + var(--player-widget-height) + var(--player-seekbar-height));
}
.wrapWithHorizontalNavbar {
  padding-top: calc(var(--player-header-height) + var(--player-horizontal-navbar-height));
}
.headerWrap {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--header-z-index);
}
.horizontalNavbarWrap {
  background-color: white;
  position: fixed;
  top: var(--player-header-height);
  left: 0;
  width: 100%;
}
.contentWrap {
  padding-top: 20px;
  padding-bottom: 16px;
}
.footerWrap {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}